@model LeadInfo
@{
    var _ActiveSession = SessionHelper.GetSession(Context);
}
<div class="row mt-4">
    <div class="col-sm-7">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="text-right">Candidate First Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CandidateFirstName)</td>
                </tr>
                <tr>
                    <th class="text-right">Candidate Last Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CandidateLastName)</td>
                </tr>
                <tr>
                    <th class="text-right">Phone No:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.PhoneNo)</td>
                </tr>
                <tr>
                    <th class="text-right">Email ID:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.EmailID)</td>
                </tr>
                <tr>
                    <th class="text-right">Country:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.Country)</td>
                </tr>
                <tr>
                    <th class="text-right">City:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.City)</td>
                </tr>
                <tr>
                    <th class="text-right" style="width: 30%;">Request Date:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.TxnDate)</td>
                </tr>
                <tr>
                    <th class="text-right">Lead Source:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.LeadSource)</td>
                </tr>
                <tr>
                    <th class="text-right">Agent Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.AgentName)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Code:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamCode)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamName)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Date:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamDate)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Month:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamMonth)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Year:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamYear)</td>
                </tr>
                <tr>
                    <th class="text-right">Exam Type:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.ExamType)</td>
                </tr>
                <tr>
                    <th class="text-right">Center Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CenterName)</td>
                </tr>
                <tr>
                    <th class="text-right">Center Address:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CenterAddress)</td>
                </tr>
                <tr>
                    <th class="text-right">Center Country:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CenterCountry)</td>
                </tr>
                <tr>
                    <th class="text-right">Center Phone No:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CenterPhoneNo)</td>
                </tr>
                <tr>
                    <th class="text-right">Vendor ID:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.VendorID)</td>
                </tr>
                <tr>
                    <th class="text-right">Vendor Name:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.VendorName)</td>
                </tr>
                <tr>
                    <th class="text-right">Result:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.Result)</td>
                </tr>
                <tr>
                    <th class="text-right">Credit Card:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.CreditCard)</td>
                </tr>
                <tr>
                    <th class="text-right">Currency:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.Currency)</td>
                </tr>
                <tr>
                    <th class="text-right">Paid Fee Amount:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.PaidFeeAmount)</td>
                </tr>
                <tr>
                    <th class="text-right">Voucher Number:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.VoucherNumber)</td>
                </tr>
                <tr>
                    <th class="text-right">Delivery:</th>
                    <td class="text-left">@Html.DisplayFor(model => model.Delivery)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <section id="leadAssignments">
            <h3 class="fs-6">Previous Lead Employee</h3>
            <table class="table table-stripped">
                <thead>
                    <tr class="table-dark">
                        <th>SN</th>
                        <th>Date</th>
                        <th>Employee</th>
                    </tr>
                </thead>

                @foreach (var item in Model.AssignedLeads)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@ViewHelper.GetDate(item.AssignedDate)</td>
                        <td>
                            <a href="@Url.Action("Details", "Employees", new{id=item.EmployeeId})">
                                @(item.Employee.Name)

                            </a>
                        </td>
                    </tr>
                }
            </table>
        </section>
        @if (Model.CanAssignLead(_ActiveSession))
        {

            <section id="NewLeadAssignments" class="mt-4">
                @{
                    await Html.RenderPartialAsync("Partial/_NewLeadAssignForm", Model);
                }
            </section>
        }
        <section id="leadComments" class="mt-4">
            <h3 class="fs-6">Previous Lead Employee</h3>
            <table class="table table-stripped">
                <thead class="table-dark">
                    <tr>
                        <th>SN</th>
                        <th>Date</th>
                        <th>Employee</th>
                        <th>Status</th>
                        <th>Comments</th>
                    </tr>
                </thead>

                @foreach (var item in Model.LeadComments)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@ViewHelper.GetDate(item.TxnDate)</td>
                        <td>
                            <a href="@Url.Action("Details", "Employee", new{id=item.EmployeeID})">
                                @item.EmpName
                            </a>
                        </td>
                        <td>@Html.DisplayFor(x=> item.Status)</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </table>
        </section>
        @if (Model.CanComment(_ActiveSession))
        {

            <section id="newLeadComment" class="mt-4">
                @{
                    await Html.RenderPartialAsync("Partial/_NewLeadCommentForm", Model);
                }
            </section>
        }

    </div>
</div>