@model IEnumerable<ConcultancyCRM.Models.LeadComments>

@{
    ViewData["Title"] = "Index";
    int sn = 1;
}
<h3 class="text-left">
    Lead Comments
    <div class="float-end">
        <a asp-action="Create" class="btn btn-success">
            <ion-icon name="add-outline"></ion-icon>
            Create
        </a>
    </div>
</h3>
<hr />
<table class="table table-stripped table-bordered dataTable" id="myTable">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(sn++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @ViewHelper.GetDate(item.TxnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadInfo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                    <div class="d-flex" style="gap:5px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                            <ion-icon name="eye-outline"></ion-icon>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <ion-icon name="trash-outline"></ion-icon>
                        </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $('#myTable').DataTable();
    </script>
}