@model ConcultancyCRM.Models.LeadInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeadInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidFeeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidFeeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoucherNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoucherNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
