@model IEnumerable<ConcultancyCRM.Models.LeadInfo>
@{
    var _ActiveSession = SessionHelper.GetSession(Context);
    ViewData["Title"] = "Index";
    int sn = 1;
}

<h1 class="text-left">
    Lead Info
    <div class="float-end">
        <a asp-controller="LeadMigration" asp-action="Index" class="btn btn-success">
            <ion-icon name="upload-outline"></ion-icon>
            Upload Bulk
        </a>
        <a asp-action="Create" class="btn btn-success">
            <ion-icon name="add-outline"></ion-icon>
            Create
        </a>
    </div>
</h1>
<hr />
<div class="table-responsive">

    <table class="table table-stripped table-bordered dataTable" id="myTable">
        <thead>
            <tr>
                <th>Action</th>
                <th>SN</th>
                <th>Status</th>
                <th>@Html.DisplayNameFor(model => model.TxnDate)</th>
                <th>@Html.DisplayNameFor(model => model.LeadSource)</th>
                <th>@Html.DisplayNameFor(model => model.AgentName)</th>
                <th>Candidate</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNo)</th>
                <th>@Html.DisplayNameFor(model => model.EmailID)</th>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.Result)</th>
                <th>@Html.DisplayNameFor(model => model.VendorName)</th>
                <th>@Html.DisplayNameFor(model => model.VendorID)</th>
                <th>@Html.DisplayNameFor(model => model.ExamCode)</th>
                <th>@Html.DisplayNameFor(model => model.ExamName)</th>
                <th>@Html.DisplayNameFor(model => model.ExamDate)</th>
                <th>@Html.DisplayNameFor(model => model.CenterName)</th>
                <th>@Html.DisplayNameFor(model => model.CenterAddress)</th>
                <th>@Html.DisplayNameFor(model => model.PaidFeeAmount)</th>
                <th>@Html.DisplayNameFor(model => model.VoucherNumber)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex" style="gap:5px;">
                            @if (item.CanEdit(_ActiveSession))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                <ion-icon name="eye-outline"></ion-icon>
                            </a>
                            @if (item.CanDelete(_ActiveSession))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a>
                            }
                        </div>
                    </td>
                    <td>@(sn++)</td>
                    <td>@Html.DisplayFor(x=>item.LeadStatus)</td>
                    <td>@ViewHelper.GetDate(item.TxnDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.LeadSource)</td>
                    <td>@Html.DisplayFor(modelItem => item.AgentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CandidateFirstName)  @Html.DisplayFor(modelItem => item.CandidateLastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmailID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Country)</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.Result)</td>
                    <td>@Html.DisplayFor(modelItem => item.VendorName)</td>
                    <td>@Html.DisplayFor(modelItem => item.VendorID)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExamCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExamName)</td>
                    <td>@ViewHelper.GetDate(item.ExamDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.CenterName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CenterAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaidFeeAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.VoucherNumber)</td>

                </tr>
            }
        </tbody>
    </table>
</div>
