@model IEnumerable<ConcultancyCRM.Models.LeadInfo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">UnAssigned Leads</h1>
<div class="d-flex justify-content-start mb-4">
    <a asp-action="Create">
        <button class="btn btn-success">
            <ion-icon name="add-outline"></ion-icon>
            Create
        </button>
    </a>
</div>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TxnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidFeeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TxnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterPhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidFeeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $('#myTable').DataTable();
    </script>
}