@model ConcultancyCRM.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h3 class="text-left">
    Employee Details
    <div class="float-end">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@(Model?.Id)">
            <ion-icon name="create-outline"></ion-icon>
            Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h3>
<hr />


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/person.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <h5 class="card-header bg-success p-2 text-white">@Model.Name </h5>
            <div class="card-body">
                <p class="card-text">
                    <i class="mb-0"><ion-icon name="location-outline"></ion-icon><span class="ms-1">@Model.Address</span></i><br />
                    <i class="mb-0"><ion-icon name="call-outline"></ion-icon><span class="ms-1">@Model.Mobile</span></i><br />
                    <i class="mb-0"><ion-icon name="mail-outline"></ion-icon><span class="ms-1">@Model.Email</span></i><br />
                    <i class="mb-0"><ion-icon name="people-outline"></ion-icon><span class="ms-1">@Model.Department.Title</span></i><br />
                    <i class="mb-0"><ion-icon name="calendar-number-outline"></ion-icon><span class="ms-1">@ViewHelper.GetDate(Model.JoinDate)</span></i><br />
                    <i class="mb-0"><ion-icon name="person-outline"></ion-icon><span class="ms-1">Admin: @Html.DisplayFor(x=> Model.IsAdmin)</span></i><br />
                    <i class="mb-0"><ion-icon name="person-outline"></ion-icon><span class="ms-1">Sales Rep: @Html.DisplayFor(x=> Model.IsSalesRepresentative)</span></i><br />
                </p>
            </div>
            <div class="card-footer bg-success text-white">Status: @Html.DisplayFor(x=>Model.Status)</div>
        </div>
    </div>
</div>
