@model ConcultancyCRM.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-left">
    Employee Details
    <div class="float-end">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">
            <ion-icon name="create-outline"></ion-icon>
            Edit</a>
        <a asp-action="Index" class="btn btn-secondary">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Back To List
        </a>
    </div>
</h1>
<hr />


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/person.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <h5 class="card-header bg-success p-2 text-white">@Model.Name </h5>
            <div class="card-body">
                <p class="card-text">
                    <i class="fa fa-address">@Model.Address</i><br />
                    <i class="fa fa-phone">@Model.Mobile</i><br />
                    <i class="fa fa-email">@Model.Email</i>
                    <i class="fa fa-calendar"></i>@ViewHelper.GetDate(Model.JoinDate)<br />
                    <i class="fa fa-person">Admin: @Html.DisplayFor(x=> Model.IsAdmin)</i><br />
                    <i class="fa fa-person">Sales Rep: @Html.DisplayFor(x=> Model.IsSalesRepresentative)</i><br />
                </p>
            </div>
            <div class="card-footer bg-success text-white">Status: @Html.DisplayFor(x=>Model.Status)</div>
        </div>
    </div>
</div>
