@model IEnumerable<ConcultancyCRM.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-left">
    Employee List
    <div class="float-end">
        <a asp-action="Create" class="btn btn-success">
            <ion-icon name="add-outline"></ion-icon>
            Create
        </a>
    </div>
</h1>
<hr />

@Html.Raw(TempDataHelper.ShowMsg(TempData))
<table class="table table-stripped table-bordered dataTable" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th>
                Admin
            </th>
            <th>
                Sales Rep
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @ViewHelper.GetDate(item.JoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSalesRepresentative)
                </td>
                <td>
                    <div class="d-flex" style="gap:5px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-warning">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-info">
                            <ion-icon name="eye-outline"></ion-icon>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">
                            <ion-icon name="trash-outline"></ion-icon>
                        </a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
